:root {
    /* Шрифты */
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;

    /* Цвета текста */
    --main-txt-cl: #757575;
    --accent-cl: #2196f3;
    --title-cl: #212121;

    /* Цвета фонов */
    --main-bcg-cl: #ffffff;
    --hero-bcg-cl: #2f303a;

    /* Другое */
}