.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2f303a;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
}

.footer-box {
    display: flex;
    align-items: baseline;
}

.footer-socials {
    margin-left: 70px;
}

.footer__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}



