.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    width: 370px;

}


.portfolio__name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-cl);
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-txt-cl);
}

.portfolio__descr {
    padding: 20px 24px;

    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.portfolio__link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay {
        transform: translateY(0);
    }
}

.thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms ease;

}

.overlay__text {
    padding: 64px 23px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--main-bcg-cl);
    background-color: rgba(33, 150, 243, 0.9);
}

