.work {
    padding-top: 0;
}

.work__list {
    display: flex;
}

.work__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    width: 100%;

    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--main-bcg-cl);
}

