.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--accent-cl);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.dark-logo {
  color: #000000;
}

.light-logo {
  color: #ffffff;
}
