.logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-cl);
}

.dark-logo {
    color: #000000;
}

.light-logo {
    color: #ffffff;
}