.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;

   
}

.backdrop--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);

    padding: 40px;
    width: 528px;
    
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 400ms ease-in-out;
}

.backdrop--is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2) rotate(1turn);
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        fill: var(--accent-cl);
    }
}

.modal-form__title {
    display: block;
    margin-bottom: 12px;
    text-align: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-cl)
}

.modal-form__label {
    position: relative;
    display: block;
    margin-bottom: 10px;

}

.modal-form__name {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--main-txt-cl);
}

.modal-form__input {
    position: relative;
    display: block;
    margin-bottom: 10px;

    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    padding-right: 12px;
    width: 448px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    outline: none;
    &:hover,
    &:focus {
        border: 1px solid var(--accent-cl);
        cursor: pointer;
    }

    &:hover+.modal-form__icon,
    &:focus+.modal-form__icon {
        fill: var(--accent-cl);
    }
    
}

.modal-form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: var(--title-cl);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message {
    position: relative;
    display: block;
    margin-bottom: 20px;
    resize: none;
    height: 120px;

    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
    padding-right: 12px;
    width: 448px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    outline: none;
    &:hover,
    &:focus {
        border: 1px solid var(--accent-cl);
        cursor: pointer;
    }
    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
}